.bg-image {
    background-image: url('Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.header {
    color: blue;
}

body {
    background-color: #f4f6fd;
    color: #333;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.banner {
    text-align: center;
    padding: 40px 20px;
}

.banner img {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.action {
    text-align: center;
    margin: 40px 0;
}

.action img {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    border-radius: 10px;
}

.numbers {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    background-color: #4E47FF;
    padding: 20px;
    border-radius: 10px;
}

.review {
    text-align: center;
    margin: 40px 0;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ready {
    text-align: center;
    margin: 40px 0;
}

.ready img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.form{
    margin: 40px 0;
}

.form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.form input, .form textarea {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

.form button {
    background-color: #6c63ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f1f1f1;
}

.website-name{
    color: blue;
}

.footer nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}